#!/usr/bin/make -f

#export DH_VERBOSE=1

UPSTREAM_GIT := git://github.com/fujita/swift3.git

include /usr/share/openstack-pkg-tools/pkgos.make

%:
	dh $@  --with python2

override_dh_auto_test:
	set -e ; for pyversion in $(shell pyversions -r); do $$pyversion setup.py test; done
